@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background: #49d290;
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  z-index: 3;
}

.logo {
  color: rgb(70, 69, 69);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 22px;
}

.navLinks {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.navLinks li,
.navLinks NavItems {
  list-style: none;
  text-decoration: none;
  color: rgb(70, 69, 69);
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 14px;
}

.navLinks a {
  text-decoration: none;
  color: rgb(70, 69, 69);
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 14px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(70, 69, 69);
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1169px) {
  .navLinks {
    width: 39%;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .navLinks {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background: #49d290;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 39%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .navLinks li,
  .navLinks NavItems {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

nav .navActive {
  transform: translateX(0%);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
