@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
}

.recipe {
  width: 390px;
  min-height: 380px;
  margin: 20px auto;
  padding: 10px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.h1Container {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  padding-top: auto;
  padding-bottom: auto;
  /* height: 69px; */
}

.recipe h3 {
  margin: 2px;
  height: 10%;
}

.recipe ol {
  counter-reset: i 0;
  list-style-type: none;

  text-indent: -0.5em;

  padding: 0;
  margin: 0;
  min-height: 100%;
  align-self: stretch;
}

.recipe ol li {
  display: block;
  padding: 5px;
  margin: 9px;
  margin-left: 35px;
  padding-right: 20px;
  /* background-color: #ecfee8; */
  box-shadow: 1px 2px 10px #78de9e;
  border-radius: 3px;
  /* border: 1px inset #92e9b1; */

  text-align: left;
}

.recipe ol li:before {
  display: inline-flex;
  content: counter(i);
  counter-increment: i;

  color: #303e4e;

  margin-left: -2em;
  margin-right: 1.5em;

  text-align: right;
  direction: rtl;
  width: 1em;
  font-weight: 700;
}

.recipe p {
  margin-top: 10px;
  height: 10%;
}

.recipe img {
  display: flex;

  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  height: 70%;
  margin-top: 15px;
  padding: 5px;

  border-radius: 4px;
  box-shadow: 0px 0px 0px 5px #72ecac, 0px 0px 0px 10px #a4f6cf;
}

.card {
  height: 100%;
  width: 100%;

  border-radius: 10px;

  background: #e7ffe6;

  box-shadow: 0px 5px 20px rgb(71, 71, 71);

  align-items: center;
  position: relative;
  display: inline-block;

  cursor: pointer;
  transition: transform 300ms ease-in-out;
}

.front,
.back {
  perspective: 600px;

  width: 100%;
  height: 100%;

  overflow: hidden;
  backface-visibility: hidden;

  transition: transform 0.3s linear;

  position: absolute;
}

.recipe .front {
  width: 100%;
  height: 100%;
}

.recipe .back {
  width: 100%;
  height: 100%;
  background: #a4f6cf;
  justify-content: center;
}

.front .frontContent {
  width: 100%;
  height: 100%;
  padding: 10px auto;
}

.back .recipeContent {
  width: 100%;
  height: 100%;
  color: #2c3e50;
  text-align: center;
  justify-content: center;
}
