.track-vertical {
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(182, 243, 210, 0.5);
  align-items: center;
}

.thumb-vertical {
  background-color: #92eab1;
  width: 10px;
  border-radius: 9px;
  opacity: 0.7;
  margin: 2px auto;
}
